/13-AppPaqueadero/nbproject/private/
/13-AppPaqueadero/build/
/13-AppPaqueadero/dist/
/Proyecto 01 Java/Trinity/target/
/Proyecto 01 Java/Trinity/nbproject/private/
/Proyecto 01 Java/Trinity/dist/
/Proyecto 01 Java/Trinity/build/
